Django>=3.0
psycopg2>=2.7,<3.0
django-bootstrap4
coreapi>=1.32
Markdown>=3.0
django-filter>=1.0.1 
django-guardian>=1.1.1
djangorestframework>=3.11
django-oauth-toolkit>=1.3.2
djangorestframework-oauth>=1.1.0
django-rest-auth>=0.9.5
django-rest-authtoken>=1.2.4
django-rest-framework-social-oauth2>=1.1.0
django-rest-knox>=4.1.0
uwsgi
